<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Salvador Dalí</h1>
    <div id="nav">
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photos">Photos</a></li>
        </nav>
    </div>
    <div id="pics">
        <img src="images/Dalí.Rinoceronte.JPG" alt="">
        <img src="images/DaliGreatMasturbator.jpeg" alt="">
        <img src="images/Salvador_Dali_A_(Dali_Atomicus)_09633u.jpeg" alt="">
        <img src="images/Salvador_Dali_The_Rainbow_1972.jpeg" alt="">
        <img src="images/SalvadorDali-SoftConstructionWithBeans.jpeg" alt="">
        <img src="images/The_Hallucinogenic_Toreador.png" alt="">
    </div>
</body>
</html>