<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <h1>Salvador Dalí</h1>
    <div id="nav">
        <nav>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/photos">Photos</a></li>
        </nav>
    </div>
    <div id="work-list">
        <ul>
            <li>Vilabertran (1910–14)</li>
            <li>Composition with Three Figures (Neo-Cubist Academy) (1927)</li>
            <li>Honey is Sweeter than Blood (1927)</li>
            <li>Un Chien Andalou (An Andalusian Dog) (1929) (film in collaboration with Luis Buñuel)</li>
            <li>The Great Masturbator (1929)</li>
            <li>The First Days of Spring (1929)</li>
            <li>L'Age d'Or (The Golden Age) (1930) (film in collaboration with Luis Buñuel)</li>
            <li>Board of Demented Associations (1930–31) (Surrealist object)</li>
            <li>Premature Ossification of a Railway Station (1931)</li>
            <li>Soft Construction with Boiled Beans (Premonition of Civil War) (1936)</li>
            <li>Metamorphosis of Narcissus (1937)</li>
            <li>Swans Reflecting Elephants (1937)</li>
            <li>The Burning Giraffe (1937)</li>
            <li>Mae West Lips Sofa (1937)</li>
            <li>The Temptation of St. Anthony (1946)</li>
            <li>The Elephants (1948) (also known as Project for "As You Like It")</li>
            <li>The Disintegration of the Persistence of Memory (1952–54)</li>
            <li>Crucifixion (Corpus Hypercubus) (c.1954) (also known as Hypercubic Christ)</li>
            <li>Young Virgin Auto-Sodomized by the Horns of Her Own Chastity (1954)</li>
            <li>Perpignan Railway Station (c. 1965)</li>
            <li>Tuna Fishing (1966–67)</li>
            <li>The Hallucinogenic Toreador (1970)</li>
            <li>Nieuw Amsterdam (1974 object/sculpture)</li>
            <li>The Swallow's Tail (c.1983)</li>
        </ul>
    </div>
</body>
</html>